<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaosa.securityhello.mapper.RolePermissionMapper">

    <resultMap id="BaseResultMap" type="com.xiaosa.securityhello.domain.RolePermission">
            <result property="roleId" column="role_id" />
            <result property="permissionId" column="permission_id" />
    </resultMap>

    <sql id="Base_Column_List">
        role_id,permission_id
    </sql>
    <select id="selectPermissionsIdByRoleIds" resultType="com.xiaosa.securityhello.domain.RolePermission">
        SELECT * FROM role_permission
        WHERE role_id IN
        <foreach item="id" collection="roleIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>
